body {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
}

.card {
	overflow: hidden;
}

.card:hover {
	transition: 0.3s;
	box-shadow: 0 4px 8px 0 var(--background-color-secondary);
}

footer {
	margin-top: auto;
}

.footer-logo {
	max-height: 70px;
}