.card:hover {
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 var(--background-color-secondary);
    cursor: pointer;
}

/* the follow works in conjunction with the js on index-page.js to transition which images are visible */
/* create reference for images */
#right {
    position: relative;
}

/* stack images on top of one another */
.box {
    position: absolute;
    transition-duration: 1s;
}

.invisible {
    opacity: 0;
}

.visible {
    opacity: 1;
}