.card:hover {
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 var(--background-color-secondary);
    cursor: pointer;
}

#right {
    position: relative;
}


.box {
    position: absolute;
    transition-duration: 1s;
}

.invisible {
    opacity: 0;
}

.visible {
    opacity: 1;
}