/* * {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */

h1{
    text-align: center;
}

.cards {
    border-width: 20px;
    border: groove;
    margin: 10px;
    padding: 10px;

}

#display{
    display: flex;
}

.comments {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#comments{
    display: flex;
    border: groove;
    padding: 20px;
    align-items: center;
    flex-direction: column;
    margin: 10px;

}

#quote{
    text-align: center;

    }

.comment-card {
    width: 100%;
}

#Trump{
display: flex;
}